<!doctype html>
<html lang="en" ng-app="app.todos">

<head>
    <title>NodeJS / AngularJs</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.10.2/css/xeditable.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.10.2/js/xeditable.min.js"></script>
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="assets/js/main/app.js"></script>
    <script src="assets/js/main/services/svTodos.js"></script>
</head>

<body ng-controller="todoController">
    <div class="container">
        <div class="jumbotron text-center">
            <h1>{{ appName }} <span class="btn btn-info">{{ todos.length }}</span></h1>
        </div>
        <div id="todo-form" class="row">
            <div class="col-sm-12 text-center">
                <form class="form-inline">
                    <div class="form-group mb-2 float-left">
                        <input type="text" ng-model="formData.text" class="form-control input-lg text-center" placeholder="What do you want to do ?">
                    </div>
                    &nbsp;
                    <button type="submit" class="btn btn-primary mb-2" ng-disabled="!formData.text" ng-click="createTodo()">Add</button>
                </form>
            </div>
        </div>
        <div id="todo-list" class="row">
            <div class="col-sm-12">
                <div class="checkbox" ng-repeat="todo in todos">
                    <input type="checkbox" ng-model="todo.isDone" ng-change="updateTodo(todo)">&nbsp;
                    <a href="" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <a href="" ng-click="deleteTodo(todo)"><i class="fa fa-trash"></i></a>
                    <!-- <a href="" ng-click="getDetail(todo)"><i class="fa fa-eye" aria-hidden="true"></i></a> -->
                    <span ng-class="{strike : todo.isDone}" editable-text="todo.text" e-form="textBtnForm" onaftersave="updateTodo(todo)">{{ todo.text }}</span>
                </div>
                <p class="text-center" ng-show="loading">
                    <span class="fa fa-spinner fa-spin fa-3x"></span>
                </p>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>